# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:5083

# Private API Client Key (Keep this secret!)
# This will NOT be accessible in the browser.
MY_API_KEY=vVkx8gEF8OpLsi+Pwc6+VjJF3OZKeJzQx6JlLsNFUmY=
